@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap" rel="stylesheet');
body{
    font-family: 'Silkscreen';
    background-color: black;
    color: aqua;
}

h1>{
    color: aqua;
}
fieldset{
    width: 30%;
}
label{
    color: chartreuse;
    font-size: 14;
    display: block;
    padding: 8;
}